.city-card-container {
  margin-top: 10px;
}

.city-card {
  background-color: #cebfbf !important;
}

.city-card h2 {
  align-items: center;
}

.city-card-feels-like {
  color: gray;
  font-style: italic;
  font-size: 15px;
}

.city-card-table {
  color: #1c1c1c;
}

.city-card-table td {
  padding: 0 7px;
}
