.header-input {
  margin-right: 4px;
}

.header-last-entered-list {
  margin-top: 10px;
}

.city-card-img {
  display: flex;
  justify-content: center;
}

.city-card-img img {
  width: min-content;
  height: min-content;
}
